.profile {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.profile:hover {
  border-bottom: 2px solid black;
}

.profile__pic {
  margin-left: 24.25px;
  padding: 5px;
}

.profile {
  color: black;
  text-decoration: none;
}
