.carousel {
  background-color: #f5f5f5;
  max-width: 1200px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin-top: 13px;
}

.carousel__link-list {
  margin: 150px 0 30px;
  display: flex;
  padding-inline-start: 0;
  list-style: none;
}

.carousel__title {
  font-size: 50px;
  max-width: 730px;
  letter-spacing: -4%;
  line-height: 58px;
  text-align: center;
  font-weight: 400;
  margin-top: 160px;
}

.carousel__item {
  background-color: #bbb;
  border-radius: 10px;
  padding: 10px 17px;
  margin: 0 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.carousel__item:hover {
  background-color: #e0e0e0;
  color: #2f2f2f;
  transition: all 0.3s ease-in-out;
  transition-property: background-color, color;
}
